:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

header.page-header, footer {
  background-color: aqua;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  border: 0.5rem solid black;
  font-size: 3rem;
}

main {
  display: flex;
  font-size: 2rem;
  height: 100%;
}

aside {
  background-color: salmon;
  text-transform: uppercase;
  flex-basis: 25%;
  border: 0.25rem solid black;
  text-align: center;
  font-size: 3rem;
}

article {
  background-color: tan;
  flex-basis: 50%;
  border: 0.25rem solid black;
  padding: 1rem;
}

article>h2 {
  text-transform: uppercase;
  text-align: center;
}

footer {
  text-transform: uppercase;
  background-color: aqua;
}

.ad {
  font-size: 5rem;
}